.feedback {
    margin-bottom: 71px;
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; 
      margin-top: 50px;
       
    }
    &__descr {
        margin-left: 62px;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__name {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__category {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 19px;
    }
    &__message {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
    }
}